.jumbotron {
  height: 140px;
  padding: 20px;
  white-space: nowrap;
  padding-left: 100px;
}

#headertext {
  margin-top: 10px;
  margin-left: 120px;
  line-height: 10px;
}

#AJpic {
  border-radius: 50%;
  float: left;
  height: 100px;
}

.jobtitle {
  color: #428bca;
}

.container {
  margin-top: 20px;
}

.education li {
  font-size: 18px;
}

.experience li {
  font-size: 15px;
}

.hobbies li {
  font-size: 20px;
}
