.jumbotron {
  height: 140px;
  padding: 20px;
  white-space: nowrap;
  padding-left: 100px;
}

#headertext {
  margin-top: 10px;
  margin-left: 120px;
  line-height: 10px;
}

#AJpic {
  border-radius: 50%;
  float: left;
  height: 100px;
}

.jobtitle {
  color: red;
}

.container {
  margin-top: 20px;
}
